<div class=" rounded-lg bg-white ">

    <div class="card bg-white shadow-md rounded-lg overflow-hidden">
        <div class="card-body px-6 py-5">
          <!-- O conteúdo do seu card -->
          <div class="container">
            <div class="profile flex items-center space-x-4">
                <app-avatar></app-avatar>
                <div class="info">
                <h2 class="text-lg font-medium">Henrique Camargo</h2>
                <p class="text-gray-500">Cargo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-border border-t-2 border-gray-300 px-4"></div>
    </div>

	<!-- divider line -->    
    <div class="w-auto border rounded-lg">
        <div class="card-body px-3 py-1 font-light">Sugestões para você</div>
    </div>

    <div class="card bg-white shadow-md rounded-lg overflow-hidden">
        <div class="card-body px-6 py-3">
          <!-- O conteúdo do seu card -->
          <div class="container">
            <div class="profile flex items-center space-x-4">
                <!-- Avatar -->

                <div class="flex-shrink-0 mr-5">
                    <div class="cursor-pointer
                    font-bold w-12 h-12 bg-gray-300 flex
                    items-center justify-center
                    rounded-full
                    ">
                        A
                    </div>
                </div>

                <div class="info">
                <h2 class="text-lg font-medium">Arnaldo Camargo</h2>
                <p class="text-gray-500">Cargo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-border border-t-2 border-gray-300 px-4"></div>
    </div>

    <div class="card bg-white shadow-md rounded-lg overflow-hidden">
        <div class="card-body px-6 py-3">
          <!-- O conteúdo do seu card -->
          <div class="container">
            <div class="profile flex items-center space-x-4">

                <!-- Avatar -->

                <div class="flex-shrink-0 mr-5">
                    <div class="cursor-pointer
                    font-bold w-12 h-12 bg-gray-300 flex
                    items-center justify-center
                    rounded-full
                    ">
                        B
                    </div>
                </div>

                <div class="info">
                <h2 class="text-lg font-medium">Breno Camargo</h2>
                <p class="text-gray-500">Cargo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-border border-t-2 border-gray-300 px-4"></div>
    </div>

    <div class="card bg-white shadow-md rounded-lg overflow-hidden">
        <div class="card-body px-6 py-3">
          <!-- O conteúdo do seu card -->
          <div class="container">
            <div class="profile flex items-center space-x-4">

                <!-- avatar -->

                <div class="flex-shrink-0 mr-5">
                    <div class="cursor-pointer
                    font-bold w-12 h-12 bg-gray-300 flex
                    items-center justify-center
                    rounded-full
                    ">
                        C
                    </div>
                </div>

                <div class="info">
                <h2 class="text-lg font-medium">Carlos Camargo</h2>
                <p class="text-gray-500">Cargo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-border border-t-2 border-gray-300 px-4"></div>

        <div class="card bg-white shadow-md rounded-lg overflow-hidden">
            <div class="card-body px-6 py-3">
              <!-- O conteúdo do seu card -->
              <div class="container">
                <div class="profile flex items-center space-x-4">
    
                    <!-- avatar -->
    
                    <div class="flex-shrink-0 mr-5">
                        <div class="cursor-pointer
                        font-bold w-12 h-12 bg-gray-300 flex
                        items-center justify-center
                        rounded-full
                        ">
                            D
                        </div>
                    </div>
    
                    <div class="info">
                    <h2 class="text-lg font-medium">Denis Camargo</h2>
                    <p class="text-gray-500">Cargo</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-border border-t-2 border-gray-300 px-4"></div>

            <div class="card bg-white shadow-md rounded-lg overflow-hidden">
                <div class="card-body px-6 py-3">
                  <!-- O conteúdo do seu card -->
                  <div class="container">
                    <div class="profile flex items-center space-x-4">
        
                        <!-- avatar -->
        
                        <div class="flex-shrink-0 mr-5">
                            <div class="cursor-pointer
                            font-bold w-12 h-12 bg-gray-300 flex
                            items-center justify-center
                            rounded-full
                            ">
                                E
                            </div>
                        </div>
        
                        <div class="info">
                        <h2 class="text-lg font-medium">Emanuel Camargo</h2>
                        <p class="text-gray-500">Cargo</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-border border-t-2 border-gray-300 px-4"></div>
    </div>
          

<footer class="bg-white rounded-lg shadow ">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
           
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 ">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        
    </div>
</footer>


</div>