<div class="w-[650px] bg-white rounded-lg shadow p-6 mb-8 ">

	<div class="flex justify-center w-full">

		<!-- avatar circle -->
		<app-avatar></app-avatar>
		<!-- form -->
		<div class="flex-1">

			<!-- textarea -->
			<textarea (keyup.enter)="sendTweet()" [(ngModel)]="tweetMessage" (input)="changeTweet()"
				[maxlength]="tweetMaxLength" class="
				mb-2
				bg-gray-200
				focus:outline-none
				focus:shadow-outline
				focus:bg-gray-100
				border border-transparent
				rounded-lg
				py-2
				px-4
				block w-full
				appearance-none
				font-light
				resize-none
				placeholder-gray-700
				" rows="3" placeholder="What's happening...">

			</textarea>

			<!-- divider line -->
			<div class="w-auto border rounded-lg">
			</div>

			<!-- interactive -->
			<div class="flex justify-end items-baseline">

				<!-- count chars -->
				<div class="mr-5
					font-thin
					text-gray-500
				">
					<p>{{tweetRemain}}</p>
				</div>

				<!-- button -->
				<div class="mt-5 flex space-x-1">



					<!-- <button (click)="sendTweet()" type="button" class="w-32 focus:outline-none border
						border-transparent py-1 px-2 rounded-lg
						shadow
						text-center
						text-white
						dark:bg-gray-400
						hover:bg-blue-600
						font-medium
						">
						Tweet
					</button> -->

					<button (click)="sendTweet()" type="button" class=" flex space-x-1 justify-between items-center gap-3 py-2 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none 
							bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 
				dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Tweet
						
					</button>
					<button type="button" class=" flex space-x-1 justify-between items-center gap-3 py-2 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none 
							bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 
				dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Add
						
					</button>

				</div>

			</div>

		</div>

	</div>

</div>