<header class="mb-10 w-full">
	<app-header></app-header>
</header>

<div class="conteudo">
	<!-- <div class=" flex flex-col md:flex-row justify-center items-center space-x-10"> -->
	<!-- left  -->
	<div class="space-x-1"><app-sidbar></app-sidbar> <app-news></app-news> </div>

	<!-- center -->
	<div class="">
		<div class="">
			<app-new-post></app-new-post>
		</div>

		<div *ngFor="let tw of tweets">
			<app-tweet [TweetMessage]=tw></app-tweet>
		</div>
	</div>


	<!-- right -->
	<div class=" "><app-social></app-social></div>
</div>

<div class="fixed bottom-0 m-auto w-full">
	<app-footer></app-footer>
</div>