<div class="bg-white shadow">
    <div class="container mx-auto px-4 py-2 md:py-3 ">

        <div class="flex justify-between items-center">

            <!-- Twitter Title -->
            <div class="flex justify-between text-lg md:text-xl font-bold">
                <img src="assets/twitter-logo.png">
                <h1>Twitter</h1>
            </div>
            <!-- MENU -->
            <app-tabs></app-tabs>
            <!-- AVATAR -->
            <app-avatar></app-avatar>
        </div>
    </div>
    
    <div class="container mx-auto px-4 py-2 md:py-3 ">
        <div class=" flex rounded-lg h-[450px] w-full bg-slate-400">
            <div class="flex  justify-between items-end">

                <div class="rounded-full h-[250px] w-[250px] bg-white">  </div>

                <button type="button"
                    class=" flex  space-x-1 justify-between items-center gap-3 py-2 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none 
                    bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 
                    dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Editar
                    perfil
                    <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7.418 17.861 1 20l2.139-6.418m4.279 4.279 10.7-10.7a3.027 3.027 0 0 0-2.14-5.165c-.802 0-1.571.319-2.139.886l-10.7 
                            10.7m4.279 4.279-4.279-4.279m2.139 2.14 7.844-7.844m-1.426-2.853 4.279 4.279" />
                    </svg>
                </button>

                <button type="button"
                    class=" flex space-x-1 justify-between items-center gap-3 py-2 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none 
                    bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 
                    dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Editar
                    perfil
                    <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7.418 17.861 1 20l2.139-6.418m4.279 4.279 10.7-10.7a3.027 3.027 0 0 0-2.14-5.165c-.802 0-1.571.319-2.139.886l-10.7 
                            10.7m4.279 4.279-4.279-4.279m2.139 2.14 7.844-7.844m-1.426-2.853 4.279 4.279" />
                    </svg>
                </button>

            </div>

            
        </div>
    </div>
    
    <div class="container mx-auto px-5 py-2 md:py-3 ">
        
        <div class="flex space-x-8 align-baseline justify-center">
            
            <div class=" flex rounded-lg h-[250px] w-[250px] bg-slate-400"></div>
            <div class=" flex rounded-lg h-[250px] w-[250px] bg-slate-400"></div>
            <div class=" flex rounded-lg h-[250px] w-[250px] bg-slate-400"></div>
            <div class=" flex rounded-lg h-[250px] w-[250px] bg-slate-400"></div>
            
        </div>
        
    </div>
</div>